<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <%- include('components/header'); %>
    <%- include('components/experiences'); %>
    <%- include('components/work-in-progress'); %>
    <%- include('components/contact'); %>
    <%- include('components/footer'); %>
</div>
<script src="/js/main.js"></script>
</body>
</html>
